* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html,
body {
    overflow-wrap: break-word;
}

/* Phần 1 */

.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
    height: 183px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.navbar {
    width: 100%;
}

.box {
    width: 100%;
}

.logo {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.user-image {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.search-box {
    width: 697px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid rgba(150, 150, 150, 0.50);
    background: #FFF;
}

.search-button {
    background: #A80000;
    border: none;
    color: white;
}

.search-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #FFF;
}

.main-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* khoảng cách search bar và menu */
}

.main-menu li {
    margin: 0 60px;
    /* khoảng cách menu items */
}

.main-menu a {
    color: #212121;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease;
}

.main-menu a:hover {
    color: #A80000;
}

/* Phần 2 */

.main2 {
    margin-top: 20px;
}

.custom-box {
    flex-shrink: 0;
    border-radius: 22px;
    background: #F4F4F4;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.custom-padding {
    padding: 48px;
}

.content-box1 {
    position: relative;
    padding: 18px 16.5px 30px 16.5px;
}

.checked {
    color: #A80000;
}

.custom-button {
    width: 161px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #A80000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    width: 86px;
    height: 17.705px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.content-box2 {
    position: relative;
    padding: 47px 55px 42px 50px;
}

.title {
    color: #A80000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-box2>div:nth-child(2),
.content-box2>div:nth-child(3) {
    margin-top: 14px;
}

/* Phần 3 */

.box3 {
    width: 643px;
    height: 561px;
    flex-shrink: 0;
}

.box4 {
    width: 290px;
    height: 553px;
    flex-shrink: 0;
}

/* COMMENT */

.comment-box {
    width: 643px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(150, 150, 150, 0.20);
    background: #FFF;
    display: flex;
}

.comment {
    width: 643px;
    height: 50px;
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(150, 150, 150, 0.20);
    padding: 10px;
}

.comment-input textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    color: #969696;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin-left: 14px;
}

.ratings {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.small-bar {
    margin-top: 20px;
}

.comment-number {
    text-align: left;
}

.latest {
    text-align: right;
}

.comment-section-1 {
    width: 643px;
    display: flex;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
}

.comment-1 {
    display: flex;
    align-items: center;
}

.ava {
    margin-top: 0;
    margin-right: 15px; /* Adjust the margin as needed */
}

.comment-details {
    flex-grow: 1; /* Allow the details to expand and take available space */
}

.user-and-status {
    display: flex; /* Display user and user-status elements in a row */
    align-items: center;
    margin-bottom: 5px; /* Add spacing between user and user-status */
}

.user {
    margin-right: 10px; /* Add spacing between user and user-status if needed */
}

.rate,
.comment-line {
    display: block; /* Ensure each element is on a new line */
}


/* CÓ THỂ BẠN THÍCH */
.title1 {
    color: #212121;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}


.book-title {
    color: #212121;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.book-author {
    color: #969696;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.shelf {
    margin-left: 0;
}

.book-content {
    margin-left: 24px;
}

/* FOOTER */

.custom-footer {
    width:100%;
    height: 369px;
    flex-shrink: 0;
    background: #A80000;
    display: grid;
    grid-template-rows: 229px 140px;
}

.support {
    width: 100%;
    height: 229px;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
}

.support-column {
    padding: 10px;
}

.copyright {
    width: 100%;
    height: 140px;
}


